---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a  rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="flex gap-1">
			© 2025
		</span>
	</a>
</div>
